NODE_ENV=
PORT=

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_AI=
AWS_S3_BUCKET=
AWS_REGION_S3=

#MODEL_ID=
# DuckDB Configuration
DUCKDB_THREADS=

# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_PROXY_URL=
EMBEDDING_MODEL=
EMBEDDING_BASE_URL=
EMBEDDING_TYPE=
#WEB APP
WEB_APP_URL=

# WEB APP API URL
WEB_APP_API_URL=
APPGATEWAY=
AI_CHAT_URL=
APP_GATEWAY_URL=
AISDK_CHAT_CLIENT_POSTGRES_URL=
WORKFLOW_URL=
IPS_URL=
ACTIVEPIECE_URL=
# TEMPO_URL=
# GRAFANA_URL=
# TRACE_ENV=
CONTEXT_COMPACT_THRESHOLD=